<h2>Countries</h2>
<hr>

<ul class="list-group">
  <!--  <li-->

  <!--    routerLinkActive="active"-->
  <!--    [routerLinkActiveOptions]="{exact: true}"-->
  <!--    routerLink="" class="list-group-item">-->
  <!--    Home Page-->
  <!--  </li>-->
  <!--  <li-->
  <!--    routerLinkActive="active"-->
  <!--    routerLink="about" class="list-group-item">-->
  <!--    About Page-->
  <!--  </li>-->
  <!--  <li-->
  <!--    routerLinkActive="active"-->
  <!--    routerLink="contact" class="list-group-item">-->
  <!--    Contact Page-->
  <!--  </li>-->
  <li
    class="list-group-item"
    routerLink="countries/by-capital"
    routerLinkActive="active">
    By Capital
  </li>
  <li
    class="list-group-item"
    routerLink="countries/by-country"
    routerLinkActive="active">
    By Country
  </li>
  <li
    class="list-group-item"
    routerLink="countries/by-region"
    routerLinkActive="active">
    By Region
  </li>
</ul>
